# Django
SECRET_KEY=replace-this-in-production
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Database
# Leave DB_ENGINE empty to use SQLite.
DB_ENGINE=
DB_NAME=loyiha_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
